body {
    background-color: #ffffff;
    text-align: center;
}



p {
    color: white;
    font-family: "Verdana", Arial, SansSerif;
    font-size: 10px;
    margin: auto;
    width: 50%;
    font-style: italic;
}


a:hover {
    text-decoration: none;
    color: #000000;
    transform: scale(1.5);
}

.fa-fw{
    color: #102542;
}