body {
    background-color: #659DBD;
    text-align: center;
}

h1 {
    color: #FBEEC1;
    font-family: "Candara", Arial, SansSerif;
}

h2 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
    font-size: 18px;
}

h3 {
    color: white;
    font-family: "Candara", Arial, SansSerif;
    font-size: 14px;
}

p {
    color: white;
    font-family: "Verdana", Arial, SansSerif;
    font-size: 10px;
    margin: auto;
    width: 50%;
    font-style: italic;
}


.icons{
    display:inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
}

a {
    font-family: "Candara", Arial, SansSerif;
    text-decoration: none;
    font-size: 18px;
    text-decoration-color: white;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #FBEEC1;
}